* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
input,
textarea,
select {
  appearance: none !important;
  -webkit-appearance: none !important;
  border-radius: 0;
}



body {
  font-family: "Roboto", sans-serif;

  background-color: #666;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  height: 80px;
  font-size: 36px;
  top: 0;
  padding: 0 20px 0;
  z-index: 10;
  background-color: #fff;
  color: #666;
}

span.menu {
  font-size: 36px;
  color: #fff;
  background-color: #666;
}

span.m-icon,
span.account_balance {
  font-size: 36px;
}

button.m-icon {
  width: 60px;
  height: 60px;
  background-color: #666;
  border-radius: 50%;
}

hr {
  position: fixed;
  width: 100%;
  height: 1px;
  background-color: #fff;
  top: 60px;
}


main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 120px auto 0;
  gap: 60px;
}

.cards {
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
  width: 260px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.25);
}

.title {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #666;
  margin-top: 20px;
}

.sub {
  font-size: 80px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #fff;
}

.text {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #666;
}

hr.line {
  width: 30%;
  height: 1px;
  background-color: #666;
  position: relative;
  top: 10px;
}

div.curr {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #666;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

button.bottom {
  position: absolute;
  left: 20%;
  bottom: -25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  height: 50px;
  background-color: #fff;
  color: #666;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border: 1px solid #666;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  padding: 0 10px;
}

button.bottom:hover {
  background-color: #666;
  color: #fff;
  border: 1px solid #fff;
}

span.arrow_forward {
  font-size: 36px;
}

@media screen and (max-width: 600px) {
  header h1.head-title {
    font-size: 16px;
  }
}
