* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
input,
textarea,
select {
  appearance: none !important;
  -webkit-appearance: none !important;
  border-radius: 0;
}



body {
  font-family: "Roboto", sans-serif;

  background-color: #666;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  height: 80px;
  font-size: 36px;
  top: 0;
  padding: 0 20px 0;
  z-index: 10;
  background-color: #fff;
  color: #666;
}

span.menu {
  font-size: 36px;
  color: #fff;
  background-color: #666;
}

span.m-icon,
span.account_balance {
  font-size: 36px;
}

button.m-icon {
  width: 60px;
  height: 60px;
  background-color: #666;
  border-radius: 50%;
}

hr {
  position: fixed;
  width: 100%;
  height: 1px;
  background-color: #fff;
  top: 60px;
}


main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 120px auto 0;
  gap: 60px;
}

